<meta charset="utf-8">

{% include seo.html %}

<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<script>
  document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + ' js ';
</script>

<!-- For all browsers -->
<link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">

<meta http-equiv="cleartype" content="on">

<head>
  <base target="_blank">
</head>

<body>
  <div class="masthead">
    <div class="masthead__inner-wrap">
      <div class="masthead__menu">
        <nav id="site-nav" class="greedy-nav">
          <a class="site-title" href="{{ '/' | relative_url }}">{{ site.title }}</a>
          <ul class="visible-links">
            <li><a href="/">Homepage</a></li>
            <li><a href="/#about-me">About Me</a></li>
            <li><a href="/#educations">Educations</a></li>
            <li><a href="/#news">News</a></li>
            <li><a href="/#publications">Publications</a></li>
            <li><a href="/#honors-and-awards">Honors and Awards</a></li>
            <li><a href="/#research-project">Research Project</a></li>
            <li><a href="/#invited-talks">Invited Talks</a></li>
            <li><a href="/#gallery">Gallery</a></li>
          </ul>
          <button class="greedy-nav__toggle hidden" type="button">
            <span class="visually-hidden">Toggle menu</span>
            <div class="navicon"></div>
          </button>
          <ul class="hidden-links hidden"></ul>
        </nav>
      </div>
    </div>
  </div>
